<body>
<%= link_to "新規投稿ページへ", new_post_path %>
<div class="posts-container">

<h3>投稿を検索</h3>
 <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
   <%= text_field_tag :search %>
   <%= submit_tag '検索する'  %>
<% end %>

  <% @posts.each do |t| %>
    <div class="post">

    <%= image_tag t.image_url, size: "250x200" if t.image? %>


    <%= t.title %>
    <%= t.about %>

    <% if user_signed_in? %>
    <% if current_user.already_liked?(t) %>
       <%= link_to tweet_like_path(id: t.id, tweet_id: t.id), method: :delete do %>
          <i class="fas fa-heart"></i><%= t.likes.count %>
       <% end %>
    <% else %>
       <%= link_to tweet_likes_path(id: t.id, tweet_id: t.id), method: :post do %>
          <i class="far fa-heart"></i><%= t.likes.count %>
       <% end %>
    <% end %>
<% else %>

    <i class="far fa-heart"></i><%= t.likes.count %>
<% end %>

      <%= t.created_at %>

      <%= link_to "詳細へ", post_path(t.id) %>
      <%= link_to "編集する", edit_post_path(t.id) %>  
      <%= button_to "削除する", post_path(t.id), method: :delete %>

    </div>
  <% end %>
</div>
</body>

